.SplitPage {
    display: flex;
}

.PostItem {
    border: 2px solid black;
    width: 300px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}

.DetailedPostWrapper{
    border:2px solid black;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
}

.Search{
    display: flex;
    margin: 20px 10px;
}

.searchButton {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.searchButton {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.searchButton:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.searchButton:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.searchButton:focus {
  outline: 1px transparent;
}

.searchButton:before {
  display: none;
}

.searchButton:-webkit-details-marker {
  display: none;
}

.searchInput {
    margin-right: 10px;
    height: 25px;
    border: 0;
    border-bottom: 2px solid gray;
    background-color: #F3F4F6;
    border-radius: 10px;
    color: #24292E;
}

.Pagination {
  display: flex;
  justify-content: space-around;
}